.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

body,
html,
* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

html {
    background-color: #eee;
    text-align: center;
    -webkit-text-size-adjust: 100%;
    /* Prevent font scaling in landscape while allowing user zoom */
}

body {
    color: $textColour;
    font-family: SkyTextRegular;
    font-size: 15px;
    line-height: 1.35714286;
    max-width: 900px;
    margin: 0 auto;
    text-align: left;
}

footer {
    border-top: 1px solid #ddd;
    clear: both;
    color: $textgrey;
    font-family: SkyTextMedium;
    display: block;
    margin-top: 15px;
    padding: 15px;
    text-align: right;
    width: 100%;
}

@media (min-width: 769px) {
    body {
        font-size: 17px;
    }
}

@media (min-width: 900px) {
    footer {
        padding: 15px 0;
    }
}