.header {
  background-color: #fff;
  padding: 25px;

  .logo {
    @include spriteBg;

    background-position: 0 -8px;
    display: inline-block;
    height: 25px;
    width: 213px;
    text-indent: -9999em;
  }
}