.header-nav--sticky {
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
  z-index: 1000;
}

nav.header-nav {
  background-color: #fff;
  border-bottom: 1px solid $darkBg;
  border-top: 1px solid $darkBg;
  text-align: center;
  width: 100%;

  a {
    border-left: 1px solid $darkBg;
    color: $textColour;
    display: block;
    float: left;
    font-size: 14px;
    padding: 12px 0;
    text-decoration: none;
    width: 33.3333333333%;
    width: calc(( 100% / 3 ) + 1 );
  }


  a:first-child {
    border-left: none;
  }

  a:last-child {
    width: 33.3333333333%;
    width: calc(( 100% / 3 ) + 2 );
  }


  a:hover,
  a.selected {
    background-color: $darkBg;
    color: #fff;
  }

}