.icon {
  @include spriteBg;

  display: block;
  height: 10px;
  width: 20px;
}

.icon--expand {
  background-position: 0 -135px;
}

.icon--collapse {
  background-position: 0 -155px;
}

.icon--quote {
	background-position: 0px -175px;
	width: 15px;
	height: 12px;
	display: inline-block;
}

.icon--quote-left {
	margin-right: 10px;
}

.icon--quote-right {
	margin-left: 10px;
}