.interview {
	background: white;
	overflow: hidden;
	margin-bottom: 20px;
	padding: 15px;
}

.interview__body {
	float: left;
	width: calc(100% - 130px);
}

.interview__interviewee {
	float: left;
	margin-right: 20px;

	.image {
		border-radius: 35px;
		width: 70px;
	}
}

.interview__text {
	margin-bottom: 20px;
}

.interview__name,
.interview__location {
	font-family: SkyTextMedium;
}

.interview__videos {

}

.interview__button {
	float: right;
	height: 10px;
	width: 20px;
}

.interview__videos {
	float: left;
	width: 100%;
	margin-top: 20px;

	&:empty {
		margin: 0;
	}
}

.interviews {
	.interview:first-child {
		margin-top: 20px;
	}

	.interview:last-child {
		margin-bottom: 20px;
	}
}