.interviews {
	.interview:first-child {
		margin-top: 20px;
	}

	.interview:last-child {
		margin-bottom: 20px;
	}
}

.interview {
	background: white;
	cursor: pointer;
	overflow: hidden;
	margin-bottom: 20px;
	padding: 15px;
}

.interview__body {
    color: $textgrey;
	float: left;
	width: calc(100% - 130px);
}

.interview__interviewee {
	float: left;
	margin-right: 20px;

	.image {
		border-radius: 35px;
		width: 70px;
	}
}

.interview__quote {
	margin-bottom: 20px;
}

.interview__name,
.interview__location {
	font-family: SkyTextMedium;
}

.interview__name {
	color: $textColour;
}

.interview__videos {
	float: left;
	width: 100%;
	margin-top: 20px;

	&:empty {
		margin: 0;
	}

	.videos {
		margin-left: 90px;
	}
}

.interview__button {
	float: right;
	height: 10px;
	width: 20px;
}

.interview__text {
	color: $textgrey;
	float: left;
	margin-left: 90px;
	margin-top: 20px;
}

.interview .share__list{
	margin-top: 10px;
}

