.interviews {

}

.interview {
	overflow: hidden;
}

.interview__body {

}

.interview__interviewee {
	float: left;
	margin-right: 20px;

	.image {
		border-radius: 35px;
		width: 70px;
	}
}

.interview__text {

}

.interview__name {
	font-family: SkyTextMedium;
}

.interview__videos {

}