.map {
    // background-color: $darkBg;
    min-height: 1000px;
    position: relative;
}

.map__container {
    background-image: url('/build/img/mapBg.jpg');
    background-position: center;
    background-size: 1000px 500px;
    height: 350px;
    margin-bottom: 1rem;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

.map__marker {
    background-image: url('/build/img/marker.png');
    background-size: 40px 40px;
    background-position: center;
    cursor: pointer;
    display: block;
    height: 40px;
    position: absolute;
    width: 40px;
}

.map__marker--selected {
    background-image: url('/build/img/markerRed.png');
    background-size: 60px 60px;
    height: 60px;
    width: 60px;
}