.narrate-list {
    list-style-type: none;
}

.narrate-list__item {
    display: block;
    width: 100%;
}

.narrate-list__item-link {
    color: $darkBg;
    display: block;
    text-decoration: none;
    position: relative;

    &:after {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-color: rgba(255,255,255,0.3);
        z-index: 1000;
        transition: opacity 0.2s ease-in-out;
    }

    &:hover {
        &:after {
            opacity: 1;
        }
    }
}

.narrate-list__item-title {
    display: none;
}

.narrate-list__item-image {
    width: 100%;
    display: block;
}

@media (min-width: 700px) {
    .narrate-list__item {
        float: left;
        width: 50%;
    }
}

@media (min-width: 1300px) {
    .narrate-list__item {
        float: left;
        width: (100/3)*1%;
    }
}