@mixin tableCell {
    display: table-cell;
    padding-top: 20px;
    vertical-align: top;
}

.videos {
    display: table;
    margin-left: 55px;
    text-align: left;
    width: 80%;
    max-width: 480px;
}

.videos__video {
    display: table-row;
    margin: 0;
}

.videos__thumbnail-wrapper {
    @include tableCell;
    padding-right: 15px;
    width: 65px;
}

.videos__thumbnail {
    border-radius: 25px;
    width: 50px;
}

.videos__title {
    @include tableCell;
    padding-right: 20px;
    width: 50%;
}

.videos__play-button-wrapper {
    @include tableCell;
}

.videos__play-button {
    // reset browser styles
    background: none;
    border: none;
    // include our own
    @include spriteBg;
    background-position: 0 -90px;
    height: 32px;
    text-indent: -9999em;
    width: 32px;
}