$link: #444;
$textgrey: #666;

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

body,
html,
* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #eee;
  text-align: center;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

#narrate-app {
  nav.header-nav {
    border-bottom: 1px solid $link;
    text-align: center;
    width: 100%;

    a {
      border-left: 1px solid $link;
      color: $link;
      display: inline-block;
      padding: 5px 0;
      text-decoration: none;
      width: calc((100% / 3 ) - 1px);
    }

    a:first-child {
      border-left: none;
      width: calc(100% / 3);
    }

    a:hover,
    a.selected {
      background-color: $link;
      color: #fff;
    }

  }

  section.hero {
    background-color: #25252f;
    color: #fff;
    margin-bottom: 1rem;
    min-height: 300px;
    position: relative;
    text-align: center;
    width: 100%;

    .hero__content {
      bottom: 1rem;
      left: 0;
      margin: 0 auto;
      position: absolute;
      padding: 0 3rem;
      right: 0;
      text-align: center;
    }
  }

  section.cards {
    position: relative;

    &:before {
      border-right: 1px solid #333;
      content: " ";
      display: block;
      height: 100%;
      position: absolute;
      left: 25px;
      z-index: 0;
    }

    .card {
      clear: both;
      margin-bottom: 1rem;
      position: relative;
      width: 100%;
      z-index: 10;
    }

    .card__time {
      background-color: #25252f;
      color: #fff;
      display: block;
      float: left;
      line-height: 3rem;
      min-height: 3rem;
      text-align: center;
      width: 55px;
      z-index: 10;
    }

    .card__image {
      height: 80px;
      overflow: hidden;
      position: relative;
      width: 100%;

      img {
        top: 0;
        margin-top: -50px;
        position: absolute;
        width: 100%;
      }
    }

    .card__content {
      background-color: #fff;
      min-height: 55px;
      margin-left: 55px;
    }

    .card__title {
      line-height: 3rem;
      padding: 0 1rem;
    }

    .card_text {
      color: $textgrey;
      margin: 0.5rem 1rem;
    }
  }
}
