$textColour: #333;
$textgrey: #898989;
$darkBg: #262730;

@import "fonts";

@mixin spriteBg {
    background-image: url('/build/img/sprite.png');
    background-repeat: no-repeat;
    background-size: 107px 329px;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

body,
html,
* {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

html {
  background-color: #eee;
  text-align: center;
}

body {
  color: $textColour;
  font-family: SkyTextRegular;
  font-size: 15px;
  line-height: 1.35714286;
  max-width: 900px;
  margin: 0 auto;
  text-align: left;
}

#narrate-app {}

.icon {
  @include spriteBg;

  display: block;
  height: 10px;
  width: 20px;
}

.icon--expand {
  background-position: 0 -135px;
}

.icon--collapse {
  background-position: 0 -155px;
}

.header {
  background-color: #fff;
  padding: 25px;

  a {
    @include spriteBg;

    background-position: 0 -8px;
    display: block;
    height: 25px;
    width: 213px;
    text-indent: -9999em;
  }
}

nav.header-nav {
  background-color: #fff;
  border-bottom: 1px solid $darkBg;
  border-top: 1px solid $darkBg;
  text-align: center;
  width: 100%;

  a {
    border-left: 1px solid $darkBg;
    color: $textColour;
    display: inline-block;
    font-size: 14px;
    padding: 12px 0;
    text-decoration: none;
    width: calc(100% / 3 );
  }

  a:first-child {
    border-left: none;
    width: calc(100% / 3);
  }

  a:hover,
  a.selected {
    background-color: $darkBg;
    color: #fff;
  }

}

section.hero {
  background-color: #000;
  color: #fff;
  margin-bottom: 1rem;
  min-height: 370px;
  position: relative;
  text-align: center;
  width: 100%;

  h1 {
    font-size: 30px;
    margin-bottom: 22px;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .hero__content {
    bottom: 20px;
    font-size: 14px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    padding: 0;
    right: 0;
    text-align: center;
    max-width: 315px;
    width: 100%;

    p {
      line-height: 19px;
      margin-bottom: 15px;
      padding: 0 48px;
    }

    button {
      background: none;
      border: none;
      border-top: 1px dotted #fff;
      color: #fff;
      cursor: pointer;
      font-size: 14px;
      margin-bottom: 25px;
      padding: 7px 8px 0;
    }
  }
}

section.scenes {
  position: relative;

  &:before {
    border-right: 1px dotted $darkBg;
    content: " ";
    display: block;
    height: 100%;
    position: absolute;
    left: 25px;
    z-index: 0;
  }

  .scene {
    clear: both;
    margin-bottom: 1rem;
    position: relative;
    width: 100%;
    z-index: 10;
  }

  .scene__time {
    background-color: $darkBg;
    color: #fff;
    display: block;
    float: left;
    font-size: 14px;
    line-height: 3rem;
    min-height: 3rem;
    text-align: center;
    width: 55px;
    z-index: 10;
  }

  .scene__image {
    height: 100px;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
    width: 100%;

    img {
      top: 0;
      margin-top: -50px;
      position: absolute;
      width: 100%;
    }
  }

  .scene__content {
    background-color: #fff;
    min-height: 55px;
    margin-left: 55px;
    padding-bottom: 25px;
  }


  .scene__title {
    color: $textColour;
    font-family: SkyTextMedium;
    font-size: 20px;
    padding: 10px 25px 11px;
    position: relative;

    .icon {
      float: right;
      margin-top: 8px;
    }
  }

  .scene__title--with_icon {
    padding: 10px 25px 11px 50px;
  }

  .scene__title-type {
    @include spriteBg;

    display: block;
    position: absolute;
    height: 32px;
    left: 10px;
    top: 8px;
    width: 32px;
  }

  .scene__title-type--icon1 { background-position: 0 -215px; }
  .scene__title-type--icon2 { background-position: 0 -255px; }
  .scene__title-type--icon3 { background-position: 0 -293px; }

  .scene__title.expandable {
    cursor: pointer;
  }

  .scene_text {
    color: $textgrey;
    display: none;
    padding-bottom: 10px;

    p {
      padding: 0 25px 5px;
    }
  }

  div.scene_excerpt {
    display: block;
  }

  .expanded .scene_text {
    display: block;
  }

  .scene__videos {
    margin-left: 55px;
    text-align: center;

    img {
      border-radius: 35px;
      float: left;
      margin-right: 15px;
      width: 70px;
    }
  }

  .scene__video {
    margin: 0 auto;
    margin-top: 20px;
    text-align: left;
    width: 80%;
  }

  .scene__video-play {
    background: none;
    border: none;
    @include spriteBg;

    background-position: 0 -90px;

    float: right;
    height: 32px;
    margin-top: 10px;
    text-indent: -9999em;
    width: 32px;
  }

  .scene__video-title,
  .scene__video-author {
    display: block;
    margin-left: 65px;
    width: 60%;
  }

  .scene__video-author {
    color: $textgrey;
    padding-top: 5px;
  }
}
