@font-face {
    font-family: 'silkscreennormal';
    src: url('../../assets/fonts/web/slkscr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    background-color: #333;
    height: 100%;
}

body {
	font-family: 'silkscreennormal';
	margin: 0;
	padding: 0;
	font-size: 16px;
}

.font-loader {
	font-family: 'silkscreennormal';
	text-indent: -9999em;
	height: 0;
	overflow: hidden;
}

.game_wrapper {
    background-color: #000;
    margin: 0 auto;
    max-width: 1024px;
}

.fullscreen-prompt {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
}

.fullscreen-prompt__link {
    color: white;
}

@media (min-width: 720px) { /* Totally arbitrary, this should probably be changed to the correct breakpoint. */
    .game_wrapper {
        border: 10px solid #000;
        margin-top: 200px;
    }
}
