.hero {
	margin: 0 auto $itemSpacingVertical auto;
	width: 100%;
	max-width: $maxWidth;
}

.hero__heading {
	text-transform: uppercase;
	font-weight: normal;
	text-align: center;
}

.hero__media {
	margin-bottom: $itemSpacingVertical;
}

.hero__title {
	margin: 0;
	letter-spacing: 2px;
	line-height: 1.2;
	color: $titleColor;
	font-size: 1.8rem;
}

.hero__strap {
	text-transform: none;
	font-size: 1.3rem;
}