.hero {
}

.hero__heading {
	text-transform: uppercase;
	font-size: 1.3rem;
	font-weight: normal;
	text-align: center;
}

.hero__title {
	margin: 0;
	letter-spacing: 2px;
	line-height: 1.2;
}

.hero__strap {

}