.scene {
	background-color: white;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	overflow: hidden;
	position: relative;
	clear: both;
	border-bottom: 10px solid #efefef;
	border-top: 10px solid #efefef;
}