.header {
    background-color: #fff;
    overflow: hidden;
}

@media (min-width: 600px) {
    .header {
        position: fixed;
        width: 100%;
        z-index: 100;
        box-shadow: 0 0 15px 10px rgba(0,0,0,0.05);
        -webkit-transform: translate3d(0, 0, 0);
    }
}


.header__content {
    padding: 25px 25px 0;
    position: relative;
}


@media (min-width: 600px) {
    .header__content {
        padding: 25px 25px 0 25px;
        max-width: 1050px;
        margin: 0 auto;
    }
}

.header__logo {
    @include spriteBg;

    background-position: 0 -8px;
    display: inline-block;
    height: 25px;
    width: 107px;
    text-indent: -9999em;

    margin-bottom: 64px;
}


@media (min-width: 600px) {
    .header__logo {
        margin-bottom: 0;
    }
}

