.header {
    background-color: #fff;
    padding: 25px;
    overflow: hidden;
}

@media (min-width: 600px) {
    .header {
        padding: 25px 25px 0 25px;
        position: fixed;
        width: 100%;
        z-index: 100;
    }
}

.header__logo {
    @include spriteBg;

    background-position: 0 -8px;
    display: inline-block;
    height: 25px;
    width: 107px;
    text-indent: -9999em;
}
