section.scenes {
    position: relative;
    padding-top: 1rem;
    padding-left: 35px;
    padding-right: 0;
    max-width: 1020px;
    margin: 0 auto;
}

@media (min-width: 600px) {
    section.scenes {
        padding-top: 3rem;
        padding-left: 50px;
        padding-right: 50px;
    }
}

.scene {
    clear: both;
    padding-bottom: 1rem;
    position: relative;
    width: 100%;
    z-index: 10;
    border-left: 1px solid #000;

    &:last-child {
        &:before {
            border: none;
        }
    }
}

.scene:last-child {
    margin-bottom: 0;
}

.scene__time {
    max-width: 3rem;
    border-radius: 3rem;
    background-color: $darkBg;
    color: #fff;
    display: block;
    float: left;
    font-size: 14px;
    line-height: 3rem;
    min-height: 3rem;
    text-align: center;
    width: 55px;
    z-index: 10;
}

.scene__image {
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}

.scene__date {
    background-color: #000;
    color: #fff;
    font-family: SkyTextRegular;
    text-transform: uppercase;
    display: block;
    position: absolute;
    width: 65px;
    height: 65px;
    top: 0;
    left: -32px;
    font-size: 18px;
    text-align: center;
    border-radius: 50%;
    line-height: 1;
    box-sizing: border-box;
    padding-top: 12px;

    em {
        display: block;
        font-style: normal;
        font-family: SkyTextMedium;
    }
}

.scene__content {
    background-color: #fff;
    padding-bottom: 25px;
}

.scene__title {
    color: $textColour;
    font-family: SkyTextMedium;
    font-size: 24px;
    padding: 10px 25px 40px 50px;
    position: relative;
    line-height: 1.2;

    .icon {
        float: right;
        margin-top: 8px;
    }
}
@media (min-width: 600px) {
    .scene__title {
        font-size: 33px;
    }
}

.scene__title--with_icon {
    padding: 10px 25px 11px 50px;
}

.scene__title-type {
    @include spriteBg;

    display: block;
    position: absolute;
    height: 32px;
    left: 10px;
    top: 8px;
    width: 32px;
}

.scene__title-type--icon1 {
    background-position: 0 -195px;
}

.scene__title-type--icon2 {
    background-position: 0 -235px;
}

.scene__title-type--icon3 {
    background-position: 0 -273px;
}

.scene_text {
    color: $textgrey;
    display: block;
    padding-bottom: 10px;

    p {
        padding: 0 25px 5px;
    }
}

.scene .scene__videos {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-bottom: 30px;
}
