.footer {
	border-top: 1px solid #ccc;
	margin: 0 auto 20px auto;
	padding-top: 10px;
	width: 100%;
	max-width: $maxWidth;
	position: relative;
}

.footer__text {
	color: #ccc;
	margin-left: 10px;
}

.footer__link {
	color: $black;
	text-decoration: none;
	position: absolute;
	right: 10px;
	top: 10px;
	display: table;

	&:hover {
		text-decoration: none;
	}
}

.footer__link-image, .footer__link-text {
	display: table-cell;
	vertical-align: middle;
}

.footer__link-text {
	padding-left: 5px;
}