.hero {
	margin: 0 auto $itemSpacingVertical auto;
	width: 100%;
	max-width: $maxWidth;
}

.content--hero {
	position: relative;
}

.hero__heading {
	font-weight: normal;
	margin: 25px 20px;
}

.hero__media {
	width: 100%;
}

.hero__media-image {
	line-height: 0;
}

.hero__title {
	font-family: SkyTextMedium;
	margin: 0;
	letter-spacing: 2px;
	line-height: 1.2;
	color: $teal;
	font-size: 1.8rem;
}

.hero__strap {
	text-transform: none;
	font-size: 1.8rem;
}

@media (min-width: $l) {
	.hero {
		background-color: #0096a4;
		max-width: 100%;
		position: relative;
		overflow: hidden;
	}

	.hero__media-bg {
		background-color: #f6f6f6;
		position: absolute;
		bottom: 0;
		right: 0;
		top: 0;
		left: 50%;
	}

	.hero__media-image img {
		height: 300px;
	}

	.hero__heading {
		position: absolute;
		right: 30px;
		top: 100px;
	}
}