.hero {
	margin: 0 auto $itemSpacingVertical auto;
	width: 100%;
	max-width: $maxWidth;
}

.hero__heading {
	font-weight: normal;
	margin: 25px 20px;
}

.hero__media-image {
	line-height: 0;
}

.hero__title {
	font-family: SkyTextMedium;
	margin: 0;
	letter-spacing: 2px;
	line-height: 1.2;
	color: $teal;
	font-size: 2rem;
}

.hero__strap {
	text-transform: none;
	font-size: 2rem;
}
