.image-transition-container {
    line-height: 0;
    margin-bottom: $itemSpacingVertical;
    position: relative;
}

.image-transition-top {
    position: absolute;
}

@media (min-width: $l) {

    .image-transition-container {
        margin-bottom: 0;
        position: absolute;
        width: 400px;
    }

    .image-transition-container-top {
        top: 0;
    }

    .image-transition-container-bottom {
        bottom: 0;
    }
}