.scene {
	background: white;
	overflow: hidden;
	padding-bottom: $itemSpacingVertical;
	margin: 0 auto ($itemSpacingVertical * 3) auto;
	width: 100%;
	max-width: $maxWidth;

	&:last-child {
		border: none;
	}
}

.scene__title {
	font-family: SkyTextMedium;
	font-size: 1.2rem;
	margin: 10px 20px;
	color: $black;
}

.scene__title--secondary {
	color: $teal;
}

.scene__text {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 16px;
}

.scene--odd {
	background-color: $white;
}

.scene--even {
	background-color: $grey;
}

@media (min-width: $m) {
	.scene__title {
		font-size: 2.8rem;
	}

	.scene__text {
		font-size: 1.3rem;
	}
}

@media (min-width: $l) {
	.scene {
		max-width: 100%;
		padding-bottom: 0;
	}

	.image-transition-container {
		width: 400px;
	}

	.scene__text-wrapper {
		max-width: 600px;

		.scene--intro & {
			max-width: 100%;
			text-align: center;
		}
	}

	.scene--even {
		.image-transition-container {
			float: left;
		}

		.scene__text-wrapper {
			margin-left: 410px;

			.scene--intro & {
				margin-left: 0;
			}
		}
	}

	.scene--odd {
		.image-transition-container {
			float: right;
		}

		.scene__text-wrapper {
			margin-right: 410px;

			.scene--intro & {
				margin-right: 0;
			}
		}
	}
}