.scene {
	background: white;
	overflow: hidden;
	padding-bottom: $itemSpacingVertical * 3;
	margin: 0 auto;
	width: 100%;
	max-width: $maxWidth;

	&:last-child {
		border: none;
	}
}

.scene__title {
	font-family: SkyTextMedium;
	font-size: 1.5625rem;
	line-height: 1.1;
	margin: 0  $itemSpacingHorizontal $itemSpacingVertical;
	color: $black;
}

.scene__title--secondary {
	color: $teal;
}

.scene__text {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 16px;
}

.scene--odd {
	background-color: $white;
}

.scene--even {
	background-color: $grey;
}

@media (min-width: $m) {
	.scene__title {
		font-size: 2rem;
	}

	.scene__text {
		font-size: 1.3rem;
	}
}

@media (min-width: $l) {
	.scene {
		max-width: 100%;
		padding-bottom: 0;
	}
	
	.scene__text {
		font-size: 1.2rem;
	}

	.scene--intro {
		padding-bottom: $itemSpacingVertical * 2;
		padding-top: $itemSpacingVertical * 2;

		.content {
			max-width: 900px;
		}
	}

	.scene__title {
		margin-bottom: $itemSpacingVertical / 3;
	}
	
	.scene__title--secondary {
		margin-bottom: $itemSpacingVertical * 1.5;
	}

	.image-transition-container {
		width: 400px;
	}

	.scene__text-wrapper {
		max-width: 600px;
		padding-bottom: $itemSpacingVertical * 3;
		padding-top: $itemSpacingVertical * 3;

		.scene--intro & {
			max-width: 100%;
			text-align: center;
		}
	}

	.scene--even {
		.image-transition-container {
			float: left;
		}

		.scene__text-wrapper {
			margin-left: 410px;

			.scene--intro & {
				margin-left: 0;
			}
		}
	}

	.scene--odd {
		.image-transition-container {
			float: right;
		}

		.scene__text-wrapper {
			margin-right: 410px;

			.scene--intro & {
				margin-right: 0;
			}
		}
	}
}