.navigation {
	width: 100%;
	max-width: $maxWidth;
	margin: 0 auto $itemSpacingVertical auto;
	background: white;
	position: relative;
	// padding: 0 $itemSpacingHorizontal;
}

.navigation__wrapper {
	width: 100%;
	background: white;
}

.navigation__list {
	display: table;
	width: 100%;
	margin-bottom: 5px;
}

.navigation__item {
	display: table-cell;
	text-align: center;
	width: calc(100% / 7);
	color: black;
}

.navigation__item--killer {
	background-color:  $killer;
}

.navigation__item--surgical {
	background-color: $surgical;
}

.navigation__item--prosthetic {
	background-color: $prosthetic;
}

.navigation__link {
	color: black;
	padding: 10px;
	display: block;
	font-weight: bold;
}

.navigation--sticky {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
	padding: 10px 0;

	.navigation__list, .timeline {
		max-width: $maxWidth;
		margin: 0 auto;
	}
}