$maxWidth: 900px;
$textColor: #333;
$linkColor: #7d7d7d;
$titleColor: black;
$keyline: #a3a3a3;

$itemSpacingVertical: 20px;
$itemSpacingHorizontal: 20px;

$killer: #e67e22;
$surgical: #3498db;
$prosthetic: #bdc3c7;